.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  padding-bottom: calc(50px + 1.5rem);

  &:hover {
    background-color: #e1f5fe;
  }

  &-logo {
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;

    img {
      max-width: 100px;
      height: 50px;
      object-fit: contain;
    }
  }

  &-content {
    padding: 20px;
    transition: background-color 0.3s;

    h2 {
      margin: 0 0 10px;
      font-size: 1.2em;
      color: #333;
    }

    p {
      margin: 0;
      font-size: 0.9em;
      color: #666;
    }
  }

  &-footer {
    width: 100%;
    position: absolute;
    left: auto;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #007bff;

    .view-button {
      width: 100%;
      padding: 10px 0;
      background-color: #fff;
      color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: #007bff;
        color: #fff;
        transform: scale(1.1);
      }
    }
  }
}
@media (min-width: 760px) {
  .card {
    width: 300px;
    min-width: 300px;
  }
}
