.filter {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;

  &_companysize {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    .checkbox-container {
      margin-right: 10px;
      margin-bottom: 10px;

      .checkbox-label {
        display: flex;
        align-items: center;

        input {
          margin-right: 5px;
        }
      }
    }
  }
}

@media (min-width: 760px) {
  .filter-Display {
    grid-area: filter-Display;
  }
  .filter {
    grid-area: filter;
  }
}

.filter-Display {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-tag {
  display: flex;
  margin: 5px;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;

  span {
    margin-right: 5px;
  }

  .close-button {
    cursor: pointer;
    margin-left: 5px;
  }
}
